@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 223.8136 -172.5242% 100%;
    --foreground: 223.8136 0% 3.9388%;
    --card: 223.8136 -172.5242% 100%;
    --card-foreground: 223.8136 0% 3.9388%;
    --popover: 223.8136 -172.5242% 100%;
    --popover-foreground: 223.8136 0% 3.9388%;
    --primary: 258.3117 89.5349% 66.2745%;
    --primary-foreground: 223.8136 0.0004% 98.0256%;
    --secondary: 223.8136 0.0002% 96.0587%;
    --secondary-foreground: 223.8136 0% 9.0527%;
    --muted: 223.8136 0.0002% 96.0587%;
    --muted-foreground: 223.8136 0% 45.1519%;
    --accent: 223.8136 0.0002% 96.0587%;
    --accent-foreground: 223.8136 0% 9.0527%;
    --destructive: 351.7303 123.6748% 40.5257%;
    --destructive-foreground: 223.8136 -172.5242% 100%;
    --border: 223.8136 0.0001% 89.8161%;
    --input: 223.8136 0.0001% 89.8161%;
    --ring: 223.8136 0% 63.0163%;
    --chart-1: 252.5 94.7368% 85.098%;
    --chart-2: 255.1351 91.7355% 76.2745%;
    --chart-3: 258.3117 89.5349% 66.2745%;
    --chart-4: 262.1229 83.2558% 57.8431%;
    --chart-5: 263.3898 69.9605% 50.3922%;
    --sidebar: 223.8136 0.0004% 98.0256%;
    --sidebar-foreground: 223.8136 0% 3.9388%;
    --sidebar-primary: 223.8136 0% 9.0527%;
    --sidebar-primary-foreground: 223.8136 0.0004% 98.0256%;
    --sidebar-accent: 223.8136 0.0002% 96.0587%;
    --sidebar-accent-foreground: 223.8136 0% 9.0527%;
    --sidebar-border: 223.8136 0.0001% 89.8161%;
    --sidebar-ring: 223.8136 0% 63.0163%;
    --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Abhaya Libre, ui-serif, serif;
    --font-mono: Anonymous Pro, ui-monospace, monospace;
    --radius: 0.625rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0.025em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 223.8136 0% 3.9388%;
    --foreground: 223.8136 0.0004% 98.0256%;
    --card: 223.8136 0% 9.0527%;
    --card-foreground: 223.8136 0.0004% 98.0256%;
    --popover: 223.8136 0% 14.9382%;
    --popover-foreground: 223.8136 0.0004% 98.0256%;
    --primary: 270.7407 91.0112% 65.098%;
    --primary-foreground: 223.8136 0.0004% 98.0256%;
    --secondary: 270.7407 91.0112% 65.098%;
    --secondary-foreground: 223.8136 0.0004% 98.0256%;
    --muted: 223.8136 0% 14.9382%;
    --muted-foreground: 223.8136 0% 63.0163%;
    --accent: 223.8136 0% 25.0471%;
    --accent-foreground: 223.8136 0.0004% 98.0256%;
    --destructive: 358.7594 101.8439% 69.8357%;
    --destructive-foreground: 223.8136 0.0004% 98.0256%;
    --border: 223.8136 0% 15.5096%;
    --input: 223.8136 0% 20.3885%;
    --ring: 223.8136 0% 45.1519%;
    --chart-1: 252.5 94.7368% 85.098%;
    --chart-2: 255.1351 91.7355% 76.2745%;
    --chart-3: 258.3117 89.5349% 66.2745%;
    --chart-4: 262.1229 83.2558% 57.8431%;
    --chart-5: 263.3898 69.9605% 50.3922%;
    --sidebar: 223.8136 0% 9.0527%;
    --sidebar-foreground: 223.8136 0.0004% 98.0256%;
    --sidebar-primary: 225.3451 84.0953% 48.9841%;
    --sidebar-primary-foreground: 223.8136 0.0004% 98.0256%;
    --sidebar-accent: 223.8136 0% 14.9382%;
    --sidebar-accent-foreground: 223.8136 0.0004% 98.0256%;
    --sidebar-border: 223.8136 0% 15.5096%;
    --sidebar-ring: 223.8136 0% 32.1993%;
    --font-sans: Inter, ui-sans-serif, sans-serif, system-ui;
    --font-serif: Abhaya Libre, ui-serif, serif;
    --font-mono: Anonymous Pro, ui-monospace, monospace;
    --radius: 0.625rem;
    --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.1),
      0 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
  }

  body {
    letter-spacing: var(--tracking-normal);
  }
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
